* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

.container {
  background-color: rgb(252, 251, 239);
  max-width: 1000px;
  /* fixed typo */
  min-height: 100vh;
  margin: 30px auto;
  border-radius: 20px;
  padding: 10px;
}

h2 {
  text-align: center;

}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 650px;
  /* total width of 2 cards + gap */
  margin: 30px auto;
  /* center the container */
}


.card {

  border-radius: 5px;
  margin: 20px;
  width: 200px;
  background-color: rgb(252, 251, 239);
  padding-bottom: 10px;
}


.card-image {
  width: 100%;
}


.card-body {
  padding: 10px;
  text-align: center;
}

.category {

  color: rgb(14, 11, 11);
}

a {
  background-color: #ffa500;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}